* {
    margin: 0;
    padding: 0;
}

#conteiner {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 70% 10%;
}

#header-container {
    display: grid;
    grid-template-columns: 90% 1fr;
    align-items: center;
    background-color: mediumvioletred;
}

#header-container h1 {
    padding-left: 20px;
}

#header-container button {
    width: 80%;
}

#header-container img {
    width: 20px;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside {
    padding: 10px;
    background-color: #f2d0e0;
}

aside a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 5px;
    margin: 5px 0 5px 0;
}

aside a:link {
    text-decoration: none;
}

aside a:visited {
    text-decoration: none;
}

aside a p {
    width: 80%;
    display: flex;
    align-items: center;
}

aside a p img {
    padding: 0 15px 0 5px;
}

aside img {
    width: 20px;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

section div {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0.3em 0.3em 0.6em darkgray;
}

section img {
    width: 200px;
}

section p {
    margin: 5px 10px;
    text-align: center;
}

#footer-container {
    text-align: center;
    padding: 10px;
    background-color: mediumvioletred;
}