h2 {
    text-align: center;
}

table {
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
}

table tr td img {
    width: 75px;
}

table tr td {
    text-align: center;
    background-color: rgb(216, 216, 216);
}