* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Typewriter";
    color: lightgreen;
    background-color: black;
}

/* ESTILIZAÇÃO PRINCIPAL DAS PAGINAS */

.container {
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
    align-content: space-between;
}

/* HEADER PAGINA INICIAL*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: darkgreen;
}

header img {
    width: 15%;
    border-radius: 15px;
}

header input {
    padding: 5px 5px;
    border-radius: 10px;
}

/* HEADER DEMAIS PAGINAS */

header a {
    width: 15%;
    border-radius: 15px;
}

header a img {
    width: 99%;
}

/* MAIN PAGINA INICIAL */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

#part1, #part2 {
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.videos {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos h3 {
    font-size: 90%;
    text-align: center;
}

main a {
    width: 100%;
    height: 100%;
}

main a img {
    width: 100%;
    height: 100%;
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px){
    main a img {
        height: 80%;
    } 
}

/* MAIN PAGINA DE VIDEOS */
.video {
    width: 55vw;
    height: 100%;
    text-align: center;
}

.video video {
    width: 100%;
    padding-bottom: 15px;
}

.video h2 {
    font-size: 100%;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    position: absolute;  
    bottom: 0;   
    width: 100%;
    align-items: center;
    background-color: darkgreen;
}

.footer small {
    font-size: 100%;
    padding-top: 0.9%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}