* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Typewriter";
    color: lightgreen;
    background-color: black;
}

.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vh;
    background-color: darkgreen;
}

header img, header a img {
    width: 150px;
    border-radius: 10px;
}

header .logo {
    width: 150px;
    height: 40px;
}

header input {
    height: 20px;
    width: 200px;
    padding: 5px 0 5px 10px;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

section {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.videos {
    max-width: min-content;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgreen;
    text-align: center;
    padding: 0.6vw 1.5vh;
    margin: 1% 2%;
    box-shadow: 0.3em 0.3em 0.6em lightgreen;
}

section a:link, a:visited {
    text-decoration: none;
}

section a img {
    width: 15vw;
    height: 15vh;
}

section h3 {
    font-size: 90%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    bottom: 0;
    background-color: darkgreen;
}

footer h2 {
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media screen and (max-width: 840px){
    .container {
        display: flex;
        flex-direction: column;
    }

    section {
        width: 95vw;
        padding: 5% 0;
    }
    
    .videos {
        max-width: max-content;
        width: 30vw;
        margin: 5%;
    }

    section a img {
        width: 20vw;
        height: 20vh;
    }
}

@media screen and (max-width: 540px) {
    .videos {
        width: 70vw;
    }

    section a img {
        width: 70vw;
        height: 20vh;
    }

    footer {
        text-align: center;
    }
}